In [1]:
import pandas as pd

In [17]:
friend_dict_list = [
    {'name' : 'John','age' : 25, 'job' : 'student'},
    {'name' : 'Nate','age' : 30, 'job' : 'teacher'}
]

In [18]:
df = pd.DataFrame(friend_dict_list)

In [19]:
df.head()

   name  age      job
0  John   25  student
1  Nate   30  teacher

In [20]:
#딕셔너리의 경우 키값의 순서가 보장되지 않는다

In [21]:
df = df[['name','age','job']] #리스트로 순서지정

In [22]:
df.head()

   name  age      job
0  John   25  student
1  Nate   30  teacher

In [ ]:
#한번에 만드는 법

In [23]:
from collections import OrderedDict #키의 순서를 보장하는 df

In [29]:
friend_ordered_dict = OrderedDict(
    [
        ('name', ['John', 'Nate']),
        ('age', [25, 30]),
        ('job', ['student', 'teacher'])    
    ]
)

In [30]:
df = pd.DataFrame.from_dict(friend_ordered_dict)

In [32]:
df.head()

   name  age      job
0  John   25  student
1  Nate   30  teacher

In [ ]:
#한번에 만드는 법2

In [33]:
friend_list = [
    ['John', 25, 'student'],
    ['Nate', 30, 'teacher'],
]

In [34]:
column_name = ['name','age','job']

In [37]:
df = pd.DataFrame.from_records(friend_list, columns = column_name)

In [38]:
df.head()

   name  age      job
0  John   25  student
1  Nate   30  teacher

In [ ]:
#한번에 만드는 법3

In [41]:
friend_list = [
   ['name', ['John', 'Nate']], 
   ['age', [25, 30]],
   ['job', ['student', 'teacher']]     
]

In [42]:
df = pd.DataFrame.from_items(friend_list)

AttributeError: type object 'DataFrame' has no attribute 'from_items'

In [43]:
df.head()

   name  age      job
0  John   25  student
1  Nate   30  teacher